<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <table border="2px">
        <tr>
            <th>schlname</th>
            <th>principalname</th>
            <th>fee</th>
        </tr>
        {% for dd in sinfo %}
        <tr>
            <td>{{dd.scn}}</td>
            <td>{{dd.pn}}</td>
            <td>{{dd.fe}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>