<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>school info</h1>
        <form method="get">
            <label for="schlname">schoolname</label>
            <input type="text" name="sn" id="schlname"><br><br>
            <label for="pname">prname</label>
            <input type="text" name="pn" id="pname"><br><br>
            <label for="Fee">fee</label>
            <input type="number" name="fe" id="Fee"><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>